{% extends 'Inicio/plantMain.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Inicio/css/estilos-categorias.css' %}">
{% endblock css %}
{% block imagen %}
<div class="img-hd">
    <div class="txt-hd">
        <p class="lh-lg">Micrófonos</p>
    </div>
</div>
{% endblock imagen %}
{% block contenido %}
<section class="items">

    <div class="container">
        <div class="row items no-gutter">
            {% for c in mic %}
            <div class="col-xl-3 col-md-6 col-sm-12">
                
                <a href="{% url 'detalleProducto' c.idproducto %}">
                    <img src="{% if c.imagenprod %}{% static c.imagenprod %}{% else %}{% static 'productos/placeholder.jpg' %}{% endif %}" alt="Error :D" id="img2" class="img-fluid">
                    <p class="text-break">{{c.nombreproducto}}</p>
                    <h6>$ {{c.precioproducto}}</h6>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock contenido %}