{% extends 'Inicio/plantMain.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Inicio/css/estilo-perfil_usuario.css' %}">
{% endblock css %}

{% block contenido %}

      <div class="container mt-5">
          <h1>Mi perfil</h1>
          <p>En esta opción puedes modificar tu perfil y ver los datos que tienes guardados.<br>Es importante que <b>no deje espacios en blanco.</b></p>
          <div class="text-start boton-volver">
            <a href="{% url 'miperfil' %}" class="boton btn btn-primary">Volver</a>
          </div>
          {% if messages %}
            <div class="mt-3">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <form id="form1" novalidate action="{% url 'miperfil' %}" method="POST" enctype="multipart/form-data" id="formUser" name="formularioUser">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-xl-12">
                  <div class="row">
                    <div class="col-md-6 fila"><label class="labels">Nombre</label><input type="text" class="form-control" placeholder="Ej: Ignacio" id="nomusu" value="{{usuario.nombre}}" name="nomusu"></div>
                    <div class="col-md-6 fila"><label class="labels">Apellidos</label><input type="text" class="form-control" placeholder="Ej: Salas Carrasco" id="apepusu" name="apepusu" value="{{usuario.apellido}}"></div>
                  </div>
                  <div class="col-md-12 fila"><label class="labels">Nombre de usuario</label><input type="text" class="form-control" placeholder="Ej: igsalas" id="username" value="{{usuario.username}}" name="username" readonly></div>
                  <div class="col-md-12 fila"><label class="labels">Contraseña</label><input type="password" class="form-control" id="password" name="password"></div>
                  
                  <p>
                    <b>
                      * El nombre de usuario debe tener entre 4 y 16 caracteres y SOLO puede contener '-' y '_'. <br>
                    </b>
                  </p>
                  <div class="col-md-12 fila"><label class="labels">Dirección</label><input type="text" class="form-control" placeholder="Ej: Avenida Siempre Viva 765" id="dirusu" name="dirusu" value="{{direccion.descripciondir}}"></div>
                  <div class="col-md-12 fila"><label class="labels">Región</label>
                    <select name="region" id="regionusu" class="form-select negritas" aria-label="Productos" required>
                      {% for i in region %}
                      <option value={{i.idregion}} >{{i.nombrereg}}</option>              
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-12 fila"><label class="labels">Comuna</label>
                    <select name="comuna" id="comunausu" class="form-select" aria-label="Productos" required>
                      
                      {% for i in comuna %}
                      <option value={{i.idcomuna}} >{{i.nombrecom}}</option>              
                      {% endfor %}           
                      
                    </select>
                  </div>
                  <div class="col-md-12 fila"><label class="labels">Correo Electrónico</label><input type="text" class="form-control" placeholder="Ej: ignacio.salas@mail.com" id="mailusu" name="mailusu" value="{{usuario.email}}"></div>
                  <div class="text-center">
                    <button id="submit" type="submit" class="boton btn btn-primary">Guardar perfil</button>
                  </div>
                  <p class="msj text-center" id="mensajes1"></p>
                  <p class="msj text-center" id="mensajes2"></p>
                </div>
            </div>
          </form>
      </div>
{% endblock contenido %}